---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Ben Hmida Mohamedd"
	  position="iOS Developer"
	  aboutMe={`Motivated and proactive iOS and Flutter developer with a strong passion for Apple products. Ready to take on new challenges and contribute to innovative projects. My enthusiasm for IT, development, and robotics stems from my hobbies, driving my dedication to excel in these fields. Eager to leverage my skills in a dynamic and forward-thinking environment.`}
	  linkedin="https://www.linkedin.com/in/mohamedbnhmida/"
	  github="https://github.com/mohamedbnhmida"
	  cvLink="/files/Mohamed_Ben_Hmida_CV_EN.pdf"
	  profileImage="/images/circular_crop.png"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->